<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Message Box</title>
</head>
<body>
  <h1> Enter your message here - </h1>

  <form action ="/submit-form" method = "post">
    <label for="senderName">Name: 
      <input type="text" name="senderName" />
    </label> <br>

    <label for="message">Message: 
      <input type="text" name = "message" />
    </label>

    <button type="submit">Submit</button>
  </form>
</body>
</html>